<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Phonestore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
     <header class="header">
      <h1>Phone Store</h1>
    </header>

  <ul>
        <li><%= link_to "Home",  "/" %></li>
        <li><%= link_to "Products",  "/items" %></li>
      </ul>
      
    <div class="container">
    <%= yield %>
    </div>
</body>


<footer class="foot">
<h1>Footer</h1>
</footer>
   
  
</html>
